.pwd {
  position: relative;
  width: 100%;
}

.pwd input {
  width: 100%;
  padding: 10px 45px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pwd span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
