
.auth-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(
    to left,
    #030712,  
    #1f2937   
  );
}

.form-container {
  width: 350px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  border: none;
  background: #e4e4e4;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 5px;
}

.form-toggle button.active {
  background: rgb(0, 56, 56);
  color: white;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.form a {
  font-size: 14px;
  color: teal;
  text-decoration: none;
  text-align: right;
}

.form button {
  padding: 10px;
  background: teal;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s;
}

.form button:hover {
  background: rgb(0, 56, 56);
}


.form p {
  text-align: center;
  font-size: 14px;
}

.form p a {
  color: teal;
  text-decoration: none;
}
