.app-wrapper{
  min-height: 100vh;
  background: linear-gradient(to left, #030712, #1f2937);
  display: flex;
  justify-content: center;
}

.app-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 16px;
  background-color: linear-gradient(
    to left,
    #030712,  
    #1f2937   
  );
  padding: 24px;
  box-sizing: border-box;
}